body {font-family: 'Inter', Arial, sans-serif; overflow: hidden;}
html {overflow-x: hidden;}
button:focus {outline:0}
.intro-section {opacity: 0;left: -100%;transition: opacity 300ms ease-in;}
.topnav {background: white;display: flex;position: fixed;z-index: 999999999999999;top: 0;left: 0;width: 100%;justify-content: space-between;align-items: center;padding-top: 12px;padding-bottom: 12px;padding-left: 305px;padding-right: 341px;top: -100px;transition: 0.5s;}
button:focus{outline:none}
.nav-item a{color:#161637; font-size: 18px;}
.nav-links {margin-right: 120px;}
.nav-item{float: left;padding: 17px;color: #161637;}
a:hover{text-decoration: none;}
.nav-links li {display: inline;}
.subnav-content li {display: block;padding-bottom: 10px;padding-left: 20px;padding-right: 20px;transition: 0.1s;}
.subnav-content li:hover {background: #dedeeb;}
.subnav-content {padding-top: 20px;padding-bottom: 10px;border-radius: 6px;border: 2px solid #dedede;background: white;margin-top: 15px;display: none;position: absolute;z-index: 1;}
li{list-style-type: none;}
.nav-item #subnav-header {border: 1px solid white;background: white;color: #161637;text-decoration: none;transition: 0.3s;}
.nav-item-bottom {width: 0;border-top: 1px solid #161637;transition: 0.4s;}
.nav-item a:hover {color: #161637;}
.nav-item:hover .nav-item-bottom {width: 100%;}
.nav-item:hover .subnav-content{display: block;}
.navbar-btn {color: white;letter-spacing: 0.4px;text-transform: uppercase;font-weight: bold;background: #2c2c96;font-size: 15px;position: relative;top: 17px;border: 1px solid black;border-radius: 6px;padding: 12px;transition: 0.3s;margin-left: 30px;}
.navbar-btn:hover {color: white;background: #4141ac;}
.intro-section {width: 2400px;margin-top: 120px;max-width: 1500px;}
.intro-header {font-weight: bold;font-size: 56px;color: #161637;margin-top: 100px;}
p, h1, h2, span {color: #161637;}
.intro-section-btn {color: white;letter-spacing: 0.8px;text-transform: uppercase;font-weight: bold;background: #2c2c96;font-size: 15px;position: relative;top: 17px;border: 1px solid #2c2c96;border-radius: 6px;padding: 16px;transition: 0.6s;}
.intro-section-btn:nth-of-type(2) {border: 0;background: white;color: #2c2c96;outline: solid 1px #2c2c96;transition: 0s;box-shadow: 2px 2px 8px #2c2c96;}
.first-btn:hover {color: white;background: #4141ac;}
.intro-section-btn:nth-of-type(2):hover {outline-width: 2px;}
.intro-section-footer-content span {padding-left: 5px;}
.first-btn a, .first-btn a:hover {color: white;}
.intro-section-btn .second, .intro-section-btn .second:hover{color: #2c2c96;}
.intro-section-laptop-img {position: relative;margin-top: 110px;margin-left: -100px;margin-right: 20px;background-attachment: fixed}
.intro-section-play-btn {position: absolute;left: 50%;top: 50%;margin-left: -130px;margin-top: 20px;padding: 20px;border-radius: 50%;border: 1px solid #2c2c96;cursor: pointer;background: #2c2c96;background-attachment: fixed;}
.intro-section-play-btn:hover {border: 1px solid #4141ac;background: #4141ac;}
.intro-section-first-col {padding-left: 100px;}
.user-avatar {position: absolute;}
.user-avatar:nth-of-type(3) {right: 0;bottom: 70px;right: 90px;}
.user-avatar:nth-of-type(1) {right: 120px;top: -30px;}
.user-avatar:nth-of-type(2) {left: -120px;}
.user-badge {box-shadow: 1.2px 1.2px 15px #dedede;margin-left: -5px;color: white;margin-top: 10px;padding: 5px 12px;font-size: 12px;font-weight: bold;text-align: center;border-radius: 20px;}
.user-avatar:nth-of-type(1) .user-badge {background: #2C2C96}
.user-avatar:nth-of-type(2) .user-badge {background: #FF7048;}
.user-avatar:nth-of-type(3) .user-badge {background: #16B4F2;}
.half-circle {position: absolute;top: 5%;left: -5px;width: 150px;}
.blue-dots {position: absolute;top: 10%;left: 50px;width: 180px;}
.orange-dots {position: absolute;right: 35%;bottom: -40px;}
.brand-logos-section {margin-top: 100px;background: #D5F3FF;text-align: center;padding: 60px;position: relative;left: -100%;transition: 300ms ease-in-out;}
.brand-logos-section * {opacity: 0;transition: 300ms ease-in-out;}
.brand-logos-section img {display: inline;}
.brand-logos-section img,span,p {color: #151582;}
.brand-logos-section-header {font-size: 14px;font-weight: bold;}
.brand-logos-section img {padding: 30px;}
.third-section {opacity: 0;max-width: 1500px;margin-top: 130px;margin-bottom: 150px;padding-left: 100px;transition: 1s;}
.third-section-header {font-size: 32px;font-weight: bold;color: #161637;}
.third-section-para {width: 50%;margin-top: 20px;line-height: 32px;color: #161637;}
.to-right {font-size: 28px;position: relative;top: 2.2px;transition: 0.4s;}
.third-section-header + p + a, .to-right {color: #0071DB;}
.third-section-header + p + a:hover .to-right{margin-left: 6px;}
.half-circle-background {margin-left: -180px;background: #D5F3FF;overflow: hidden;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 280px; width: 600px; border-radius: 550px 550px 0 0; }
.half-circle-background img{position: absolute;left: 18%;top: -50px;}
.forth-section {padding-top: 100px;padding-bottom: 100px;max-width: 100%;background: #D5F3FF;z-index: 5;opacity: 0;transition: 1s;}
.forth-section .container {max-width: 1500px;}
.main-img {position: relative;max-width: 624px;background-attachment: fixed;z-index: 4;width: 100%;height: 100%;}
.half-circle-shape {position: absolute;max-width: 130px;top: 70%;left: 52%;background-attachment: fixed;z-index: 7;}
.forth-section-blue-dots:nth-of-type(1) {position: absolute;width: 120px;z-index: 1;top: 40px;right: 15%;}
.forth-section-blue-dots:nth-of-type(2) {position: absolute;width: 120px;bottom: 10px;left: 15%;}
.forth-section .col-lg-6:nth-of-type(2) {padding-left: 30px;padding-top: 120px;z-index: 10px;}
.forth-section-para {width: 50%;margin-top: 20px;line-height: 32px;color: #161637;}
.fifth-section.container {max-width: 1500px;}
.fifth-section-para {width: 75%;margin-top: 20px;line-height: 32px;color: #161637;}
.fifth-section {overflow: hidden; margin-top: 100px; margin-bottom: 100px; opacity: 0; transition: 1s;}
.fifth-section .col-lg-6:nth-of-type(2) {margin-top:40px}
.fifth-section .col-lg-6:nth-of-type(1) {margin-top:100px}
.content-img {position: relative;z-index: 200;margin-left: 50px;}
.connected-img {position: absolute;z-index: 201;height: 100%;}
.bubble-img {position: absolute;z-index: 202;right: 30%;}
.carousel-section {background: #A4E5FF;padding: 120px; opacity: 0; transition: 1s;}
.carousel-section-header {text-align: center;color: #151582;margin-top: -70px;font-weight: bold;letter-spacing: 1px;font-size: 13px;text-transform: uppercase;}
.arrows {margin: auto;max-width: 1100px;display: flex;justify-content: space-between;}
.next, .prev{display: flex;align-self: center;font-size: 35px;border-radius: 50%;border: 2px solid #72729c;padding: 0;width: 40px;height: 40px;cursor: pointer;transition: 400ms;}
.next:hover, .prev:hover{border: 2px solid #2C2C96;}
.next span, .prev span{position: relative;top: -13px;}
.text-content {position:relative; width: 75%;margin: auto;text-align: center;color: #161137;margin-top: 30px;font-size: 24px;font-weight: bold;transition: 0.5s;}
.user-section {position: relative;display: flex;text-align: center; justify-content: center;top: 35px;}
.user-name {float: left;color: #161137;font-size: 13px;font-weight: bold;letter-spacing: 2px;}
.user-title {font-size: 13px;color: #161137;}
.user-section-col {padding-left: 15px;}
.user-img {border-radius: 50%;width: 50px;}
.index-section {text-align: center;margin: auto;margin-top: 80px;position: absolute;left: 47%;margin-left: -15px;}
.index-btn {width: 2em;margin: 2px;height: 2px;position: relative;cursor: pointer;background: black;opacity: 0.4;float:left;transition: 0.3s;}
.footer{margin-top: 100px; margin-bottom: 100px;}
.footer-header {color: #161137;font-weight: bold;text-transform: uppercase;padding-bottom: 25px;font-size: 13px;letter-spacing: 2px;}
.footer li{padding-bottom: 25px;font-size: 14px;}
.footer-link {color: #161137;transition: 200ms;}
.footer-para {color: #161137;}
input[type="text"] {border-radius: 6px;padding: 5px 20px;border: 1.5px solid #c9c6c6;transition: 300ms;}
input[type="text"]:focus {outline: none;border: 1.5px solid #4141ac;}
.form-group {display: flex; margin-top: 30px;}
.footer-button{border: 1px solid #4141ac;background: #2C2C96;text-transform: uppercase;letter-spacing: 1.2px;outline: none;color: white;margin-left: -15px;border-top-right-radius: 6px;border-bottom-right-radius: 6px;font-weight: bold; transition: 0.3s;}
.footer-button:hover {background: #4040a8;}
.footer-button:focus{background: #20206b;}
.footer-bottom-left-section {padding-top: 35px;}
.icon {font-size: 20px;color: #161637;margin-top: 20px;transition: 300ms;cursor: pointer;}
.icon:hover{color: #16B4F2;}
.icon:nth-of-type(1) {padding-left: 25px;}
.placeholder {position: absolute;z-index: 1;bottom: 15px;left: 36px;color: #5c5b5b;cursor: text;transition: 300ms;}
.placeholder-active {bottom: 50px;left: 15px;color: #4141AC;}
input[type="text"]:focus + .placeholder {bottom: 50px;left: 15px;color: #4141AC;}
.footer-bottom-col {padding-top: 20px;}
.footer-bottom-col span{float: right;color: #161137;font-size: 14px;}
.nav-responsive-btn {border: 1px solid #EDF3FA;background: #EDF3FA;font-weight: bold;padding: 12px;margin-right: 30px;letter-spacing: 1.4px;border-radius: 8px;display: none;}
.navbar-responsive{position: fixed;left: 0;top: 80px;z-index: 3000000;padding-left: 20px;width: 100%;height: 0;overflow: hidden;background: white; transition: 500ms;}
.navbar-responsive-header {text-transform: uppercase;padding-top: 15px;padding-left: 15px;color: #919CAB;transition: 0.3s;font-weight: bold;}
.nav-responsive-links {color: #161637;margin: 15px;padding-bottom: 15px;border-bottom: 1px solid #dedede;font-weight: bold;letter-spacing: 1px;cursor: pointer;}
.navbar-responsive-header:hover {color: #161137;}
.navbar-responsive-btn {font-size: 14px; width: 97%;margin-left: 15px;margin-top: 20px;padding: 12px;text-transform: uppercase; font-weight: bold; letter-spacing: 1.2px;transition: 500ms;}
.navbar-responsive-btn:nth-of-type(1) {background: white;border: 1px solid #20206B;border-radius: 6px;color: #20206B;}
.navbar-responsive-btn:nth-of-type(1):hover {background: #20206b;color: white;border: 1px solid #20206b;}
.responsive-navbar-active {height: 100%;overflow-y: visible;padding-bottom: 100px;}
.navbar-responsive-btn:nth-of-type(2) {background: #20206b;color: white;border: 1px solid #20206b;border-radius: 6px;}
.navbar-responsive-btn:nth-of-type(2):hover {background: #34348a;border: 1px solid #34348a;}
.index-btn-active{width: 4em;opacity: 1;}
.text-content-active-next {animation: carouselAnimationNext 0.5s ease forwards;}
.text-content-active-prev {animation: carouselAnimationPrev 0.5s ease forwards;}
@keyframes carouselAnimationNext {0% {left: 100%;}100% {left: 0%;}}
@keyframes carouselAnimationPrev {0% {right: 100%;}100%{right: 0%;}}
@media only screen and (max-width:1820px) {
     .topnav {padding-right: 90px; padding-left: 90px;}
     .intro-section {margin:auto;}
     .intro-section-second-col {margin-top: 120px;}
     .intro-section-first-col {margin-top: 120px;}
}
.intro-section-laptop-img {width: 100%;height: 100%;}
@media only screen and (max-width:1440px) {
     .topnav {padding-right: 20px; padding-left: 10px;}
     .intro-section-laptop-img {margin-top: 120px;}
     .first .container {max-width: 1240px;}
     .intro-section-first-col {margin-top: 120px; padding-left: 0;}
     .intro-section {margin:auto;}
     .half-circle {top: 35px;}
     .blue-dots {top: 60px;}
     .orange-dots {bottom: 0px;}
     .forth-section-para{width:65%}
     .fifth-section-para{width: 65%;}
     .forth-section-blue-dots:nth-of-type(1) {right: 7%;}
}
@media only screen and (max-width:1200px) {
     .topnav {padding-right: 10px; padding-left: 10px;}
     .nav-links {font-size: 14px; padding: 0px; margin: 0;}
     .intro-section-first-col {padding-left: 30px;}
     .third-section-para {width: 70%;}
     .half-circle-background {margin-left: -80px;}
     .forth-section-para{width:75%}
     .fifth-section-para{width:75%}
}
@media only screen and (max-width:1100px) {
     .topnav {margin: 0;padding: 0;padding-left: 20px;padding-top: 20px;}
     .navbar-btn {margin: 0;}
     .half-circle-background { top: 50%; left: 50%; transform: translate(-50%, -50%); height: 180px; width: 400px; border-radius: 550px 550px 0 0; }
     .half-circle-background img {width: 260px;}
     input[type="text"]{width: 230px;}
     .footer-button {font-size: 15px;}
}

@media only screen and (min-width: 1000px) {
     .navbar-responsive {display: none;}
}

@media only screen and (max-width:1000px) {
     .container {width: 100%;}
     .intro-section {text-align: center; width: 100%;}
     .topnav {padding-bottom: 15px;}
     .intro-section .intro-header {font-size: 68px}
     .intro-section .intro-section-btn {padding: 30px;}
     .intro-section-laptop-img {margin: auto; margin-top: 80px;}
     .nav-links {display: none;}
     .nav-right {display:none}
     .nav-responsive-btn {display:block;}
     .intro-section-laptop-img {width: 700px; height: 700px;}
     .intro-section-play-btn {margin-left: -10px;margin-top: -30px;}
     .user-avatar:nth-of-type(1) {right: 7%; top: 7%;}
     .user-avatar:nth-of-type(2) {left: 7%;}
     .user-avatar:nth-of-type(3) {bottom: 50px;}
     .forth-section {margin-top: 380px;}
     .third-section-para {width: 100%;}
     .forth-section-para{width:100%}
     .fifth-section-para{width:100%}
     .forth-section .third-section-header {padding-left: 50px;}
     .main-img {left: 130px;}
     .forth-section-blue-dots:nth-of-type(1) {right: 20%;}
     .forth-section-blue-dots:nth-of-type(2) {left: 25%;}
     .fifth-section .third-section-header {padding-left: 50px;}
     .content-img {margin-left: 150px;}
     .connected-img {margin-left: 40px;}
     .bubble-img {right: 32%;}
     .fifth-section .col-lg-6:nth-of-type(1) {margin-top:50px}
     .carousel-section {padding-left: 0;padding-right: 0;}
     .arrows{width: 100%;}
     .index-section {left: 43%;}
     .footer.container {max-width: 100%;}
     input[type="text"]{width: 100%;}
     .footer-button {font-size: 15px;}
     .icon:nth-of-type(1) {padding-left: 15px; margin-top: 40px;}
     .footer-bottom-col {padding-top: 100px;}
     .footer {margin-bottom: 30px;}
}
@media only screen and (max-width: 997px) {
     .half-circle {top: 100px; left: 70px;}
     .blue-dots {top: 130px; left: 90px;}
     .orange-dots {bottom: 140px;}
     .half-circle-background {margin-top: 180px;left: 50%; transform: translate(-50%, -50%); height: 300px; width: 600px; border-radius: 550px 550px 0 0; }
     .half-circle-background img {width: 360px;}
     .third-section-header div {display:none;}
     .third-section-header, .third-section-para, .third-section-para + a {margin-left: -50px;}
     .third-section-para {width: 100%;}
     .forth-section-para {width:100%;}
}

@media only screen and (max-width:991px) {
     .intro-section-play-btn {margin-left: -30px; margin-top: 0px;}
     .intro-section-first-col {margin-top: 20px;}
     .intro-section-second-col {margin-top: -50px;}
     .half-circle {top: 135px; left: 22%; width: 160px;}
     .blue-dots {top: 170px; left: 25%; width: 160px;}
     .orange-dots {bottom: 90px; width: 160px;}
     .user-avatar:nth-of-type(1) {top: 10%;}
     .user-avatar:nth-of-type(2) {top: 10%;}
     .user-avatar:nth-of-type(3) {bottom: 20px;}
}
@media only screen and (max-width: 900px) {
     .forth-section-blue-dots:nth-of-type(1) {right: 12%;}
     .forth-section-blue-dots:nth-of-type(2) {left: 25%;padding-top: 0px;margin-top: -90px;}
     .forth-section {padding-top: 20px;padding-bottom: 20px;}
     .forth-section .col-lg-6:nth-of-type(2) {padding-top: 50px;}
     .main-img {left: 60px;}
     .content-img {margin-left: 110px;}
     .connected-img {margin-left:0px;} 
     .bubble-img {right: 17%;}
}
@media only screen and (max-width: 820px) {
     #intro-header {font-size: 55px;}
     #intro-section-btn {display: inline;}
     .half-circle {top: 135px; left: 17%; width: 160px;}
     .blue-dots {top: 170px; left: 20%; width: 160px;}
     .fifth-section .col-lg-6:nth-of-type(1) {margin-top:00px}
     .text-content {font-size: 18px;}
}
.user-avatar:nth-of-type(3) {z-index:1;}
@media only screen and (max-width: 778px) {
     .brand-logos-section-header {text-align: center; width: 100%; font-size: 0.80rem;}
     .half-circle {top: 135px; left: 15%; width: 160px;}
     .blue-dots {top: 170px; left: 18%; width: 160px;}
     .orange-dots {bottom: 180px;}
     .user-avatar:nth-of-type(3) {bottom: 160px; z-index: 1;} 
     .half-circle-background {transform: translate(-50%, -50%); height: 240px; width: 460px; border-radius: 550px 550px 0 0; }
     .third-section-header {font-size: 30px;}
     .third-section .col-lg-6:nth-of-type(1) {position: relative; left: -20px;}
     .forth-section .col-lg-6{position:relative; left: -20px;}
     .half-circle-background {margin-left: -44px; width: 300px; height: 180px; margin-top: 140px;}
     .third-section {margin-top: 60px;}
     .forth-section {margin-top: 60px;}
     .third-section-para {width: 100%;}
     .half-circle-background img {width: 200px; left: 37px;}
     .forth-section .third-section-header{width: 130%;}
     .forth-section-blue-dots:nth-of-type(1) {right: 6%;}
     .main-img {left: 0px;}
     .content-img {margin-left: 20px;}
     .bubble-img {right: 12%;}
     .index-section {left: 38%;}
     .navbar-responsive-btn {width: 96%;}
}
@media only screen and (max-width: 650px) {
     .half-circle {top: 135px; left: 15%; width: 160px;}
     .blue-dots {top: 170px; left: 18%; width: 160px;}
     .user-avatar:nth-of-type(2) {top: 7%;}
     .forth-section {margin-top: 280px;}
     .half-circle-shape {width: 120px;}
     .forth-section-blue-dots:nth-of-type(2) {left: 15%;}
     .content-img {margin-left: 00px;}
     .bubble-img {right: 12%;}
     .text-content {width: 100%;}
}
@media only screen and (max-width: 600px) {
     #intro-section-btn {width: 45%; margin: 0;}
     .intro-section-footer-content {margin-top: 30px;}
     .intro-section-laptop-img {width: 100%; height: 100%; padding-bottom: 40px;}
     .half-circle {top: 7px; left: 14%; width: 130px;}
     .blue-dots {top: 30px; left: 18%; width: 130px;}
     .orange-dots {bottom: 5px; right: 100px;}
     .intro-section-button-field button {position: relative;left: -6px;}
     .intro-section-second-col {margin-top: 40px;}
     .user-avatar:nth-of-type(3) {bottom: 60px;right: 10px;z-index: 1;}
     .user-avatar:nth-of-type(2) {top: -30px;left: 20px;z-index: 1;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
     .user-avatar:nth-of-type(1) {top: -20px;z-index: 1;}
     .user-avatar .user-badge {font-size: 10px;}
     .user-avatar img {width: 40px;}
     .third-section-para {width: 100%;}
     .content-img {width: 90%;}
     .navbar-responsive-btn {width: 93%;}
}
@media only screen and (max-width: 480px) {
     #intro-header {font-size: 48px;}
     #intro-section-btn {width: 100%;margin-bottom: 10px;}
     .half-circle {top: 10px; left: 14%;}
     .blue-dots {top: 30px; left: 18%;}
     .orange-dots {bottom: 100px; right: 20%; width:90px;}
     .half-circle-shape {width: 90px;}
     .forth-section-blue-dots:nth-of-type(1) {right: 3%;width: 80px;}
     .half-circle-shape {width: 70px;}
}
@media only screen and (max-width: 400px) {
     #intro-header {font-size: 39px;}
     .half-circle {top: 10px; left: 14%;}
     .blue-dots {top: 30px; left: 18%;}
     .orange-dots {bottom: 10px; right: 20%; width:90px;}
     .navbar-responsive-btn {width: 92%;}
}
@media only screen and (max-width: 332px) {
     .user-title{font-size: 10px;}
}
.show-time {opacity: 1;left: 0;top: 0;}
.border-bottom {border-bottom: 2.2px solid #dedede;}